html {
  font-family: Arial;
}
@media (min-width: 960px) {
  .App {
    text-align: center;
    max-width: 1024px;
    margin: auto;
    padding: 20px;
  }
  .container {
    display: flex;
    justify-content: space-evenly;
    background-color: #efefef;
    margin: 10px 0px 10px 0px;
  }
  .cardMatrix {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: minmax(200px, auto);
    /* column-gap: 1px;
    row-gap: 1px; */
  }
  .card {
    background-color: #efefef;
    padding: 15px;
    text-align: center;
    width: 200px;
    font-size: 100px;
    color: white;
  }
  .button {
    background-color: #73c3dc !important;
    cursor: pointer;
    font-size: 12px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 3px 3px 0px #2f454e;
    margin: 10px;
    color: white;
    text-transform: uppercase;
  }
  #cardMatrix :nth-child(even) {
    background: #2b8ead;
  }
  #cardMatrix :nth-child(odd) {
    background: #2f454e;
  }
  #cardMatrix :nth-child(7n + 1) {
    background: #6f98a8;
  }
  #cardMatrix :nth-child(n + 6):nth-child(-n + 7) {
    background: #bfbfbf;
  }
}
@media (max-width: 960px) {
  .App {
    display: grid;
    margin: auto;
    max-width: 960px;
    padding: 20px;
  }
  .container {
    display: flex;
    flex-flow: column-reverse;
    grid-template-columns: 1fr;
    background-color: white;
    border: 10px black solid;
    border-radius: 10px;
    margin: 0;
  }
  .header {
    text-align: center;
  }
  .cardMatrix {
    display: grid;
    grid-template-columns: auto;
    /* column-gap: 1px;
    row-gap: 1px; */
  }
  .card {
    background-color: #efefef;
    padding: 15px;
    text-align: center;
    height: 30px;
    font-size: 20px;
    margin-bottom: 2px;
    color: black;
  }
  .button {
    background-color: #73c3dc !important;
    cursor: pointer;
    font-size: 12px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 3px 3px 0px #2f454e;
    margin: 10px;
    color: white;
    text-transform: uppercase;
    border: 0 !important;
  }
  #cardMatrix :nth-child(even) {
    border-left: 10px solid #2b8ead;
  }
  #cardMatrix :nth-child(odd) {
    border-left: 10px solid #2f454e;
  }
  #cardMatrix :nth-child(7n + 1) {
    border-left: 10px solid #6f98a8;
  }
  #cardMatrix :nth-child(n + 6):nth-child(-n + 7) {
    border-left: 10px solid #bfbfbf;
  }
  .buttonDiv {
    display: flex;
    justify-content: center;
  }
  footer {
    text-align: center;
  }
}
